doctype html
html(lang="ja")
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    link(rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap-reboot.css")
    script(src="/node_modules/snapsvg/dist/snap.svg.js")
    script(src="/design2.js")
  body.post-type-archive-news
    #v-app
