@import "../../sass/variables";
@import "../../sass/mixins";
@import "global";
@import "top";

#nav{
  display: none;
  a.active{color: blue;}
}

#logo{
  width: 5rem;
  svg path{fill: map-get($colors, red);}

}

#page-title{
  padding: 1rem 3rem 5rem 3rem;
}
#posts{
  padding: 1rem 3rem 5rem 3rem;
  display: none;
}

body.post-type-archive-news,
body.post-type-archive-schedule{
  .hentry{
    &:not(:last-of-type){margin-bottom: 3.3rem;}
    .post-title{
      font-size: 1.15em;
      margin-bottom: 1.5rem;
    }
  }
}
