doctype html
- var hwp= htmlWebpackPlugin
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="//unpkg.com/vue@2.5.17/dist/vue.min.js")
    for item in hwp.files.chunks.script.css
      link(href=item rel="stylesheet")
    script(src=hwp.files.chunks.script.entry)
  body
    #v-dev
